.provider {
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .provider-image {
      flex: 0 0 auto;
      width: 240px;
      height: 240px;
      display: flex;
      margin-bottom: 20px;
      text-align: center;
    }
    img {
      width: 100%;
    }
  }
  